.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}
.pizza-card{
  padding: 1rem;
  width: 15%;
}
.pizza-card img {
  width: 100px;
  height: 100px;
}
#pizza-area {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
