.App {
  text-align: center;
}

.App-header {
  background-color: dodgerblue;
  text-align: left;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.App-title {
  font-size: 2em;
}
