.pizza-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 25%;
  background-color:lightpink
}
#pizza-area {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
